/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} */

#appBar{
    background-color: rgb(138, 137, 137);
    border: 1px solid rgb(116, 115, 115);
}

#toolBar{
    background-color: #ff5f00;
    color:white;
   
}

#dashboardReectangle1{
    width: 45%;
    height: 270px;
    position: relative;
    top: 10px;
    left: 20px;
    background-color: white;
    /* border: 1px solid rgb(160, 159, 159); */
    /* filter: drop-shadow(5px 5px 5px black); */
}

#dashboardReectangle2{
    width: 45%;
    height: 270px;
    position: relative;
    top: -260px;
    left: 670px;
    background-color: white;
    /* border: 1px solid rgb(160, 159, 159); */
    /* filter: drop-shadow(5px 5px 5px black); */
}

 #dashboardReectangle3{
    width: 45%;
    height: 270px;
    position: relative;
    top: -230px;
    left: 670px;
    background-color: white;
    
}

#dashboardReectangle4{
    width: 45%;
    height: 278px;
    position: relative;
    top: -500px;
    left: 20px;
    background-color: white;
   
}