/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} */

#navivar{
    height: 65px;
    width: 100%;
    background-color: rgb(128, 128, 128);
}

#loginSection{
    position: fix;
    text-align: center;
    margin: auto;

}

#loginSection h1{
    top: 40px;
    position: relative;
}

#loginSection p{
    top: 70px;
    position: relative;
    font-weight: 100;
    color: rgb(73, 73, 73);

}