/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} */

#navivar{
    height: 65px;
    width: 100%;
    background-color: rgb(128, 128, 128);

}

#bookingContainer{
    background-color: #f73f3f;
    width: 300px;
  
}

#sliderImg{
    top: 150px;
    position: absolute;
    right: 14px;
}

#bookingTextSection{
    width: 100%;
    height: 80%;
    background-color: transparent;
    position: relative;
    top:-420px;
   
}

#bookingBackgroundSection{
    width: 100%;
    height: 400px;
    position: relative;
    top:-18px;
}


