* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#appBar{
    background-color: gray;
}



#carRentalTopic{
    position:absolute;
    top:100px;
    left:80px;
    z-index: 1;
    color:white;
    /* box-shadow:-1px 1px 10px -1px black; */
    text-shadow: 10px 10px 10px #000000;
    animation-name: main_Word_move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

/* @keyframes main_Word_move{
    0%{

        filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
    }
    100%{
        left: 15%;
        color: rgb(72, 100, 104);
        filter: drop-shadow(#051E34);  
    }
}  */


/* ---------------- */

#mainCar{
    animation-name: main_car_move;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 2s; 
}

@keyframes main_car_move{
    0%{

        /* filter: drop-shadow(10px 10px 10px rgb(235, 235, 235)); */
    }
    100%{
        width:1400px;
        height:680px;
        top:-3%;
        /* color: rgb(72, 100, 104);*/
        filter: drop-shadow(10px 10px 10px rgb(235, 235, 235)); 
    }
} 





 /* ------------------------------------------------------------------ */






/* --------------------------Car Rates------------------------------- */


#mainseperator{
    position: absolute;
    width: 100%;
    height: 1px;
    top: 105%;
    background-color: gray;
    z-index: 1;
}







/* .rentalSlider{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 800%;
    position: relative;
    width: 100%;
    background-color: rgb(0, 0, 0);
    
} */
.sliderDiv{
    color: #000000;
    /* border: 1px solid red; */
    height:68%;
    top: 205px; 
    position: relative;

}
.sliderDiv h1{
    position: relative;
    /* top: 500px;
    left: 220px; */
    font-size: 25px;
    color:#b2c505;
    
    /* border: 1px solid black; */
   

}

.sliderDiv h6{
    position: relative;
    /* top: 520px;
    left: -480px; */
    font-size: 20px;
    font-weight: 100;
}
.mainTopic1{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 680px;
}

.mainTopic2{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 680px;
}
.mainTopic3{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 660px;
}
.mainTopic4{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 650px;
}
.mainTopic5{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 640px;
}
.mainTopic6{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 630px;
}
.mainTopic7{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 630px;
}
.mainTopic8{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 618px;
}
.mainTopic9{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 601px;
}
.mainTopic10{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 590px;
}
.mainTopic11{
    position: relative;
    text-align: center;
    margin: auto;
    left: -489px;
    top: 580px;
}


.sliderDiv  h4{
    position: relative;
    /* top: 528px;
    left: 160px; */
    font-size: 17px;
    font-weight: 100;
 }

 .imgcar{
    position: relative;
    width: 30%;
    
    left: 420px;
    top:46px; 
    /* background-color: white;  */

    
 }

 /* .pepoleImg{
    position: relative;
    left: 400px;
    top: 517px; 
}

.pepoleImg p{
    position: relative;
    left: 133px;
    top: -32px; 
    font-size: 16px;
} */



.filingStationImg{
    position: relative;
    left: 490px;
    top: 500px;  
  
}

.filingStationImg p{
    position: relative;
    left: 44px;
    top: -20px;
    font-size: 16px;  
  
}


.paymentRs{
    position: relative;
    left: 10px;
    top: 760px;
    text-align: center;
    margin: auto;
}

.paymentRs1{
    position: relative;
    left: 10px;
    top: 720px;
    text-align: center;
    margin: auto;
}

.paymentRs2{
    position: relative;
    left: 10px;
    top: 700px;
    text-align: center;
    margin: auto;
}


.sliderDiv h5{
    position: relative;
    left: 48px;
    top: -410px;
    font-size: 16px;
    font-weight: 100;
    z-index: 1;
    
    
}

.monthlyRate h5{
    position: relative;
    left: 48px;
    top: -400px;
    font-size: 16px;
    font-weight: 100;
    z-index: 1;
}

.monthlyRate p{
    position: relative;
    left: 48px;
    top: -350px;
    font-size: 16px;
    font-weight: 100;
    z-index: 1;
    color:#e20d06;
}


.freeDay h5{
    position: relative;
    left: 48px;
    top: -340px;
    font-size: 16px;
    font-weight: 100;
    z-index: 1;
    color:#e20d06;
}

.freeDay p{
    position: relative;
    left: 48px;
    top: -430px;
    font-size: 16px;
    font-weight: 100;
    z-index: 1;
    
}


/* #slideRectangles1{
    background-color: white;
    border: 5px solid rgb(148, 151, 151);
    color: #000000;
    width: 180%;
} */


#carRentalTopic{
    text-shadow: none;
}


.carImgSlider{
    /* border: 1px solid rgb(0, 0, 0); */
    width: 30%;
    height:260px;
    position: relative;
    z-index:32;
    left:64%;
    top:-2300px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.sliderCar{
    width: 83%;
    top: 5px;
    position: relative;
    
}

#footerSeperator1{
    position: relative;
    top: -2326px;
    width: 85%;
    height: 2px;
    background-color: gray;
    left: 8%;
    bottom: 20%;
    z-index: 12;
    
}







/* --------------------------select discription------------------------------- */

#selectDiscription{
    width: 80%;
    height: 80px;
    position: relative;
    top: 460px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    margin: auto;
}





/* --------------------------car discription------------------------------- */





/* --------------------------footer------------------------------- */

#sliderSeperetor1{
    position: absolute;
    top: 581%;
    width: 85%;
    height: 1px;
    background-color: gray;
    left: 8%;
    bottom: 20%;
    border: 1px solid gray;
    z-index: 1;
}

#footerSeperator{
    position: absolute;
    top: 698%;
    width: 85%;
    height: 1px;
    background-color: gray;
    left: 8%;
    bottom: 20%;
}

#footerFirstLineWord{
    position: absolute;
    top: 706%;
    left: 38%;
    bottom: 50%;
    color: gray;
}

#footerSecondLineWord{
    position: absolute;
    top: 710%;
    left: 16%;
    bottom: 50%;
    color: gray;
}

#endFooterSeperator{
    position: absolute;
    top: 720%;
    width: 100%;
    height: 1px;
    background-color: gray;
    bottom: 20%;
}

